@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}

.test {
	text-align: justify;
}

.test:after {
	content: "";
	display: inline-block;
	width: 100%;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
